# Ignore everything WordPress-related that we don't manage
wp-admin/
wp-includes/
wp-config.php
wp-config-sample.php
wp-blog-header.php
wp-comments-post.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
index.php
license.txt
readme.html
.htaccess

# Ignore other themes and plugins we don't own
wp-content/plugins/
wp-content/uploads/
wp-content/upgrade/
wp-content/cache/
wp-content/themes/generatepress/

# OS & editor junk
.DS_Store
.DS_Store?
Thumbs.db
.idea/
.vscode/
*.log
